@use '../../../scss/' as *;

// Xóa các class cũ của list Order, chỉ giữ lại chi tiết

.order__detail {
    h3 {
        font-size: 20px;
    }

    &-container {
        margin-top: 48px;
        padding: 30px 20px;
    }

    &-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        span {
            font-weight: 500;
        }
    }

    &-group {
        overflow: hidden;
        height: auto;

        .table {
            margin-bottom: 20px;

            th {
                font-weight: 600;
                color: $black-color;
            }

            td {
                color: #4a5568;
            }

            .fw-500 {
                font-weight: 500;
            }
        }
    }

    &-foot {
        margin-top: 10px;
        border-top: 1px solid $black-color;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }

    &-status {
        display: flex;
        flex-direction: column;
        gap: 16px;

        label {
            font-weight: 500;
            font-size: 18px;
            line-height: 20px;
        }

        span {
            margin-left: 8px;
        }

        .order-status {
            border-radius: 33px;
            color: $white-color;
            padding: 2px 8px;
            font-size: 16px;
        }

    }

    &-group-btn {
        display: flex;
        gap: 24px;

        button {
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
            height: fit-content;
            border-radius: 18px;
            padding: 12px 12px;
            color: $white-color;

            &:disabled {
                opacity: 0.5;
                border: none;
            }
        }

        .btn-confirm {
            background-color: #AFB1B0;
        }

        .btn-processing {
            background-color: $yellow-color;
        }

        .btn-complete {
            background-color: $green-color;
        }

        .btn-payment {
            background-color: #007bff;
            border: 2px solid #0056b3;
            box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
            font-weight: bold;
        }
    }
}